.cabinetMain{
   padding: 0.5rem 0.5rem;
   border-radius: 1rem !important;
   background-color: #FFFFFF!important;

}

.ant-layout-header{
   border-radius: 1rem;
   margin-top: 2rem;
   margin-left: 0.75rem;
   margin-right: 0.75rem;
   background-color: #FFFFFF!important;
   color: black;
}


.ant-layout-sider{
   padding-top:2rem;
}

.ant-layout-footer{
   background-color: #FFFFFF!important;
}