.confirmRestorePasswordWrapper {
    background-color: #ffffff;
    border: 1px solid #ebedf0;
    padding: 15px 2rem;
    position: relative;
    width: 170%;
    height: 120%;
    border-radius: 1.5rem;
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
    text-align: center;
}