.signupFormWrapper {
    background-color: #ffffff;
    border: 1px solid #ebedf0;
    padding: 8rem 3rem!important;
    position: relative;
    width: 100%;
    margin-top: 65%;
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.authHeader {
    text-align: center;
}