.notFoundWrapper {
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 1.5rem;
    width: 140%;
    padding: 1rem 0;

    h1 {
        font-size: 124px;
        font-weight: 600;
        color: rgba(0,0,0,.84);
        margin-bottom: 0;
    }

    h2 {
        font-size: 44px;
        color: rgba(0,0,0,.3);
        fill: rgba(0,0,0,.3);
    }
}

.ant-layout-content .notFoundWrapper{
    width: 100%!important;
} 